
@{
    ViewData["Title"] = "AjaxEven";
}

@section Style{
    <style>
        #img1 {
            display: none
        }
    </style>
}
<h1>AjaxEven</h1>
<button class="btn-dark m-1" id="start">start</button>
<button class="btn-dark m-1" id="end">End</button>
<img src="~/Images/load.gif" id="img1" />
<div class="alert alert-primary" role="alert" id="div1"></div>

@section Script {
    <script>
        const btnstart = document.querySelector("#start")
        const btnend = document.querySelector("#end")
        const Myimg = document.querySelector("#img1")
        const Mydiv = document.querySelector("#div1")
        xhr = new XMLHttpRequest();//接收資料物件

        btnend.addEventListener("click", () => {
            xhr.abort()//停止Ajax執行,呼叫abort方法
        })

        btnstart.addEventListener("click", () => {
            /*xhr = new XMLHttpRequest();//接收資料物件*/
            xhr.addEventListener("load", () => {
                const data = xhr.responseText//接收文字
                console.log(data)
            })

            xhr.addEventListener("loadstart", () => {
                console.log("loadstart開始")
                btnstart.textContent = "Loading..."
                btnstart.setAttribute("disabled", "disabled")
                Myimg.style.display = "inline"
            })

            xhr.addEventListener("loadend", () => {
                console.log("loadend結束")
                btnstart.textContent = "Start"
                btnstart.removeAttribute("disabled")
                Myimg.style.display = "none"
            })

            xhr.addEventListener("timeout", () => {
                console.log("3秒時間到")
                Mydiv.style.display = "block"
                Mydiv.textContent="3秒時間到了哦!!伺服器忙線中"
            })

            xhr.addEventListener("abort", () => {
                console.log("進行abort，進行停止")
                Mydiv.textContent ="進行abort，進行停止"
            })
            xhr.open("GET", "@Url.Content("~/api/sleep")")
            xhr.timeout = 3000//伺服器3秒鐘沒有回傳結果，終止程式的執行
            xhr.send()//對server發出要求 Ajax開始
        })
    </script>

}

